[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED.
confidence=

disable=missing-class-docstring,
        missing-module-docstring,
        missing-function-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        invalid-name,
        too-many-branches
